@model Advertisement
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Title: @Model.Title</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#">Price: @Model.Price€</a>
                </h3>
                <div class="mb-1 text-muted">Likes: @Model.Likes</div>
                <div class="mb-1 text-muted">Views: @Model.Viewers</div>
                <p class="card-text mb-auto">Description: @Model.Description</p>
                <p class="card-text mb-auto">City: @Model.Address.City</p>
                <p class="card-text mb-auto">Address: @Model.Address.Street</p>
                <p class="card-text mb-auto">Delivery type: @Model.DeliveryType</p>
                <p class="card-text mb-auto">Condition: @Model.AdvertisementCondition</p>

                @if (Model.IsReplacement)
                {
                    <p class="card-text mb-auto">Replacement: Yes</p>
                } else
                {
                    <p class="card-text mb-auto">Replacement: No</p>
                }

                @if (Model.IsFixedPrice)
                {
                    <p class="card-text mb-auto">Price is fixed</p>
                }
                else
                {
                    <p class="card-text mb-auto">Price is not fixed</p>
                }

            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="@Model.ImageURL" alt="Card image cap">
        </div>
    </div>
</div>