@model Advertisement
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">@Model.Title</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#">@Model.Price</a>
                </h3>
                <div class="mb-1 text-muted">@Model.Likes</div>
                <div class="mb-1 text-muted">@Model.Viewers</div>
                <p class="card-text mb-auto">@Model.Description</p>
                <p class="card-text mb-auto">@Model.Address.City</p>
                <p class="card-text mb-auto">@Model.Address.Street</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="@Model.ImageURL" alt="Card image cap">
        </div>
    </div>
</div>