@model Advertisement
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary"><b>Title: </b>@Model.Title</strong>
                <h3 class="mb-0">
                    <a class="text-dark" href="#"><b>Price: </b>@Model.Price€</a>
                </h3>
                <div class="mb-1 text-muted"><b>Likes: </b>@Model.Likes</div>
                <div class="mb-1 text-muted"><b>Views: </b>@Model.Viewers</div>
                <p class="card-text mb-auto"><b>Description: </b>@Model.Description</p>
                <p class="card-text mb-auto"><b>City: </b>@Model.Address.City</p>
                <p class="card-text mb-auto"><b>Address: </b>@Model.Address.Street</p>
                <p class="card-text mb-auto"><b>Delivery type: </b>@Model.DeliveryType</p>
                <p class="card-text mb-auto"><b>Condition: </b>@Model.AdvertisementCondition</p>

                @if (Model.IsReplacement)
                {
                    <p class="card-text mb-auto"><b>Replacement: </b>Yes</p>
                } else
                {
                    <p class="card-text mb-auto"><b>Replacement: </b>No</p>
                }

                @if (Model.IsFixedPrice)
                {
                    <p class="card-text mb-auto"><b>Price is fixed</b></p>
                }
                else
                {
                    <p class="card-text mb-auto"><b>Price is not fixed</b></p>
                }

            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="@Model.ImageURL" alt="Card image cap">
        </div>
    </div>
</div>