@using KupujemProdajemWebApp.ViewModels;
@model DashboardViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach(var ad in Model.Advertisements)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">"@ad.Title"</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">@ad.Price</a>
                    </h3>
                    <div class="mb-1 text-muted">@ad.Likes</div>
                    <div class="mb-1 text-muted">@ad.Viewers</div>
                    <p class="card-text mb-auto">@ad.Description</p>
                    <a asp-controller="Advertisement" asp-action="Edit" asp-route-id="@ad.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <form asp-controller="Advertisement" asp-action="Delete" asp-route-id="@ad.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="@ad.ImageURL" alt="Card image cap">
            </div>
        </div>
    </div>
}